---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GmailIcon from "../components/icons/Gmail.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<!-- 37:09 -->
<Layout
  title="Porfolio Luis Fernández Sangil - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a Luis para crear tu aplicación web. Desarrollador Web especializado en crear aplicaciones únicas."
>
  <main class="px-4 pl-20 lg:pb-0">
    <SectionContainer id="top" class="mt-40 lg:mt-0 pt-24 lg:py-44 pb-32">
      <img
        class="rounded-full w-20 h-20 mb-4"
        src="/luisPhoto.webp"
        alt="Luis photo"
      />
      <h1
        id="text"
        class="text-white text-3xl md:4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-gray max-w-[700px]">
        Tengo <span class="text-green-200/90">+3 años de experiencia</span> como
        <span class="text-red-200/90">Desarrollador Web.</span> Soy de Vigo, Galicia.
        Especializado en crear soluciones web integrales y únicas, priorizando los
        requerimientos reales del cliente.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialMedia
          href="https://www.linkedin.com/in/luis-fernández-sangil-3b0a86235"
        >
          <LinkedInIcon class="size-8 lg:size-6" />LinkedIn
        </SocialMedia>
        <SocialMedia href="https://github.com/luisfdzs">
          <GitHubIcon class="size-8 lg:size-6" />GitHub
        </SocialMedia>
        <SocialMedia href="mailto:luisfsangil@gmail.com">
          <GmailIcon class="size-8 lg:size-6" />luisfsangil@gmail.com
        </SocialMedia>
      </nav>
    </SectionContainer>
    <SectionContainer id="sobre-mi" />
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semi-bold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semi-bold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="contacto" />
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let textElement = document.getElementById("text");
    const text = "Hola, soy Luis.";
    let index = 0;
    function typeWriter() {
      if (textElement === null) return;
      if (index >= text.length) return;
      textElement.textContent += text.charAt(index);
      index++;
      setTimeout(typeWriter, 65);
    }
    typeWriter();
  });
</script>
