---
import ExperienceItem from "./ExperienceItem.astro";
import React from "./icons/React.astro";
import Mongo from "./icons/MongoDB.astro";
import Node from "./icons/Node.astro";

const TAGS = {
  VisualBasic: {
    name: "Visual Basic",
    class: "bg-black text-white",
    icon: "../public/VB.webp",
  },
  React: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  NodeJS: {
    name: "Node.js",
    class: "bg-black text-white",
    icon: Mongo,
  },
  MongoDB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: Node,
  },
};

const EXPERIENCE = [
  {
    title: "FullStack Engineer",
    company: "Exceltic - Grupo Ingeteam",
    date: "Marzo 2023 - Mayo 2024",
    description:
      "Responsable de mantener distintas aplicaciones web de todo el grupo empresarial, resolver incidencias de distintos usuarios y de escalar las soluciones actuales mejorando su arquitectura y migrando hacia tecnologías más modernas. Modalidad 100% remoto y autonomía total en los desarrollos.",
    link: "https://exceltic.com/",
    tags: [TAGS.React, TAGS.NodeJS, TAGS.MongoDB],
  },
  {
    title: "FullStack Developer",
    company: "IATECC",
    date: "Junio 2022 - Enero 2023",
    description:
      "Encargado de la migración de herramientas heredadas y de desarrollos de nuevas soluciones web para mejorar la eficiencia y efectividad de los procesos productivos. Modalidad de trabajo híbrida, formando parte del equipo de desarrolladores.",
    link: "https://www.iatecc.com/",
  },
  {
    title: "Programador de AGVs",
    company: "Zemsania - ABB Robotics",
    date: "Agosto 2021 - Junio 2022",
    description:
      "Responsable Junior en el departamento IT, encargado de la programación de vehículos de guiado automático o AGVs. Definir el esquema funcional del cliente, desarrollar la solución integral para la automatización de la planta y realizar la puesta en marcha.",
    link: "https://new.abb.com/products/robotics/es/robots/autonomous-mobile-robots",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
