---
import ExperienceItem from "./ExperienceItem.astro";
import React from "./icons/React.astro";
import Mongo from "./icons/MongoDB.astro";
import Node from "./icons/Node.astro";

const TAGS = {
  VisualBasic: {
    name: "Visual Basic",
    class: "bg-black text-white",
    icon: "../public/VB.webp",
  },
  React: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  NodeJS: {
    name: "Node.js",
    class: "bg-black text-white",
    icon: Mongo,
  },
  MongoDB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: Node,
  },
};

const EXPERIENCE = [
  {
    title: "FullStack Engineer",
    company: "Exceltic - Grupo Ingeteam",
    date: "Marzo 2023 - Mayo 2024",
    description:
      "Diseño, desarrollo y mantenimiento de ERPs para gestión interna de la empresa cliente. Responsable de mantener las distintas aplicaciones web, resolver incidencias de los usuarios y escalar las soluciones actuales mejorando su arquitectura y migrando hacia tecnologías más modernas",
    link: "#",
    tags: [TAGS.React, TAGS.NodeJS, TAGS.MongoDB],
  },
  {
    title: "FullStack Developer",
    company: "IATECC",
    date: "Junio 2022 - Enero 2023",
    description:
      "Diseño, desarrollo y mantenimiento de ERPs y aplicaciones web para gestión interna de la empresa. ",
    link: "#",
  },
  {
    title: "Programador de AGVs",
    company: "Zemsania - ABB Robotics",
    date: "Agosto 2021 - Junio 2022",
    description: "Programación de vehículos de guiado automático o AGVs. ",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
