---
import Cv from "./icons/Cv.astro";
import GitHub from "./icons/GitHub.astro";
import Gmail from "./icons/Gmail.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<footer
  class="bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10 pl-20 lg:pb-0"
>
  <ul
    class="w-full flex justify-center gap-5 lg:gap-x-20 text-gray-400 font-medium"
  >
    <li>
      <a
        href="https://www.linkedin.com/in/luis-fern%C3%A1ndez-sangil-3b0a86235/"
        target="_blank"
        class="hover:underline">LinkedIn</a
      >
    </li>
    <li>
      <a
        class="hover:underline"
        href="https://raw.githubusercontent.com/luisfdzs/Porfolio/e1e2c8bb614684ae06e2c966d67f9a05a76c7946/CV.pdf"
        download="CV.pdf">DescargarCV</a
      >
    </li>
    <li>
      <a
        href="https://github.com/luisfdzs"
        class="hover:underline"
        target="_blank"
        type="application/pdf">Github</a
      >
    </li>
    <li>
      <a href="mailto:luisfsangil@gmail.com" class="hover:underline">Gmail</a>
    </li>
  </ul>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <div class="flex items-center justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >©Luis Fernández Sangil
    </span>
    <div class="flex mt-4 sm:justify-center sm:mt-0">
      <a
        href="https://github.com/luisfdzs"
        target="_blank"
        class="text-gray-500 hover:text-white hover:scale-150 ms-5"
      >
        <GitHub class="size-7" />
        <span class="sr-only">GitHub account</span>
      </a>
      <a
        href="https://www.linkedin.com/in/luis-fernández-sangil-3b0a86235"
        target="_blank"
        class="ms-5 hover:scale-150"
      >
        <LinkedIn class="size-7" />
        <span class="sr-only">LinkedIn</span>
      </a>
      <a
        href="mailto:luisfsangil@gmail.com"
        class="text-gray-500 hover:scale-150 hover:text-white ms-5"
      >
        <Gmail class="size-7" />
        <span class="sr-only">Gmail</span>
      </a>
      <a
        class="hover:scale-150 hover:text-white ms-5 bg-white rounded"
        href="CV.pdf"
        download="https://raw.githubusercontent.com/luisfdzs/Porfolio/e1e2c8bb614684ae06e2c966d67f9a05a76c7946/CV.pdf"
        type="application/pdf"
      >
        <Cv class="size-7" />
        <span class="sr-only">CV</span>
      </a>
    </div>
  </div>
</footer>
