---
import ArrowUp from "./icons/ArrowUp.astro";
---

<header
  class={`
    nav-header
    fixed    
    m-auto
    py-5
    w-[100%]
    flex justify-center items-center
    z-10
  `}
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="hover:scale-110 transition" href="#"><ArrowUp /></a>
    <a class="hover:scale-110 transition" href="#experiencia">Experiencia</a>
    <a class="hover:scale-110 transition" href="#proyectos">Proyectos</a>
    <a class="hover:scale-110 transition" href="#contacto">Contacto</a>
  </nav>
</header>
<style>
  /* Estilo para pantallas de ordenador */
  @media only screen and (min-width: 1000px) {
    .nav-header {
      background: linear-gradient(
        to right,
        black 0%,
        #1f1e2e 35%,
        #1f1e2e 65%,
        black 100%
      );
    }
  }

  /* Estilo para móviles */
  @media only screen and (max-width: 1000px) {
    .nav-header {
      background: linear-gradient(
        to right,
        black 0%,
        #08080c 10%,
        #13121c 20%,
        #1f1e2e 40%,
        #1f1e2e 60%,
        #13121c 80%,
        #08080c 90%,
        black 100%
      );
    }
  }
</style>
