<header
  style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);background: linear-gradient(to right, black 0%, #1f1e2e 35%,#1f1e2e 50%,#1f1e2e 65%, black 100%);
  "
  class={`
    fixed    
    m-auto
    ml-10
    xl:ml-0
    py-5
    w-[100vw]
    flex justify-center items-center
    z-10
    mx-auto
  `}
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="hover:scale-110 transition" href="#">Sobre mí</a>
    <a class="hover:scale-110 transition" href="#experiencia">Experiencia</a>
    <a class="hover:scale-110 transition" href="#proyectos">Proyectos</a>
    <a class="hover:scale-110 transition" href="#contacto">Contacto</a>
  </nav>
</header>
